POSTGRES_USER=<postgre user name>
POSTGRES_PASSWORD=<postgre user password>
POSTGRES_HOST=<postgre database url - localhost>
POSTGRES_PORT=<postgre port, by default 5432>
POSTGRES_DB=<postgre database name>

REDIS_HOST=<redis host - localhost>
REDIS_PORT=<redis port, by default 6379>

LOG_PATH=<path to log files for parsing>
